
body {
    background-image: url(https://raw.githubusercontent.com/Tryxtion/wolfaiwebpage/refs/heads/main/Landscape_forest_bg.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
    padding: 20px;
    
}
p {
    padding-left:20px;
    color:rgb(0, 0, 0);
    font-size:16px;
    
}

h1, h3 {
    padding-left:20px;
    color:rgb(0, 0, 0);
}

hr {
    height:3px;
    background-color: #5B75B5;
    border-color: #5B75B5;
}

.title{
    width:100%;

    background-color:#5B75B5;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}

.content{
    width:fit-content;
    background-color:#455B8A;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}

a {
    color:blue;
}

a:visited {
    color:#361078;
}

a:hover {
    color:#1F5917;
}

a:active {
    color:white;
}